.label {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 2rem 2rem;
  max-width: 800px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: start;
  justify-content: space-between;
}
